.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.links > a {
    color: #000000;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}