
html, body {
    background-size: 100%;
    color: #f3fbff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

body{
    background-image: url("/picture/background-image.jpg");
    background-size: cover;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 80px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.m-b-md {
    margin-bottom: 30px;
}
.flat-input__input {
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 300;
    border: 0 none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    padding-bottom: 5px;
    line-height: 1;
}
::placeholder {
    color: white;
    opacity: 1;
}

.forget-pass{
    font-size: 24px;
    color: #fff;
    margin: 0 0 20px;
}

.forget-pass:hover{
    color: #fff;
}

.pass-change-form{
    margin: 0 auto;
}

.main-form{
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
}

.profile{
    color: black;
}

.blur-form{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
}
