
html, body {
    color: #f3fbff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: rgb(152, 152, 152);
    background-image: url("/picture/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}



.title {
    font-size: 70px;
    text-align: center;
}

.flat-input__input {
    background: transparent;
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 300;
    border: 0 none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    padding-bottom: 5px;
    line-height: 1;
}
::placeholder {
    color: white;
    opacity: 1;
}

.forget-pass{
    font-size: 24px;
    color: #fff;
    margin: 0 0 20px;
}

.forget-pass:hover{
    color: #fff;
}

.pass-change-form{
    margin: 0 auto;
}

.main-form{
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
}

.profile{
    color: black;
}

.blur-form{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
}

.jumbotron label, .jumbotron h2, .jumbotron input, .jumbotron p, .jumbotron span, .jumbotron h4, .jumbotron h3 {
    color: black;
}

.nav-link{
    color: white;
}

.nav-link :hover {
    color: white;
}

.selecter .selecter__input {
    display: block;
    height: 36px;
}


.datepicker__input {
    height: 36px !important;
    line-height: 2.5 !important;
}

.datepicker__wrapper {
    height: 36px !important;
}

.datepicker__clear-button svg {
    top: -8px !important;
    right: -14px !important;
}

.v-select .vs__selected-options {
    padding:2px 2px !important;
}

.v-select .dropdown-toggle .clear {
    font-size:26px !important;
    margin-top: 4px !important;
}
   
.single-property .feature-list {
    display: flex;
    flex-wrap: wrap;
}

.single-property .feature-list__item {
    width: 100px;
}

.single-property .feature-list-item {
    text-align: center;
}

.single-property .feature-list-item__description {
    margin-top: 5px
}
.single-property .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.single-property .select-list-item {
    color: black;
    background-color: white;
}
.single-property div.datepicker__input:nth-child(1) {
    padding-right: 30px;
    padding-left: 19px;
}
.single-property .datepicker__clear-button svg {
top: -8px !important;
right: -14px !important;
}

.clear-button .datepicker__clear-button {
    right: 14px !important;
}

.project-logo {
    margin: auto;
    text-align: center;
}

.project-logo img {
    width: 80px;
}